.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.Header {
    width: 100svw;
    padding-left: 50px;
    padding-right: 50px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    transition: background-color .3s;
}

.Logo {
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 64px;
    transition: background-color .3s;
    transition: color .3s;
}

.Menu {
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    flex-direction: row;
    gap: 70px;

    & a {
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 8px;
        padding-bottom: 8px;
        // background-color: #fff;
        border-radius: 10px;
        transition: background-color .3s;

        & svg {
            transition: fill .3s;
        }
    }
}